<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="PGCAFSuite">

<listeners>
        <listener class-name="com.PG.Listener.TestListener"/>
       
    </listeners>

	<test name="ScenarioTesting">
		<classes>
		
		
		<class name="com.PG.Tests.Anthropology" />
		
		

	</classes>
	</test> 
</suite> 
